<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/hci-friends.css">
   
</head>

<body>
	<div class="container">

		<h1>Friends Added!</h1>
		<a href="/">Back</a>

	</div>
</body>
</html>
